<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>后台管理</title>
    <include file="common:css" />
    <link rel="stylesheet" href="__PUBLIC__/admin/money/information.css">
    <style>
    </style>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <!-- 头部 -->
    <include file="common:head" />
    <!-- 头部结束 -->
    <!-- 左侧 -->
    <include file="common:side" />
    <!-- 左侧结束 -->

    <div class="content-wrapper">
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box">
                     <h3 class="box-title"><a href="/Admin/Monetary/listCustomer">现金客户</a>>确认信息</h3>
                        <div class="information">
                            <h4 class="h4">确认信息</h4>
                            <form action="/Admin/Monetary/qrinfo" method="post" enctype="multipart/form-data" id="info_form">
                            <p style="margin:10px;margin-left:70px;color:red">(提示：上传的文件格式压缩包-'rar', 'zip'；图片-'jpg', 'gif', 'png', 'jpeg',文件大小不要超过5M)</p>
                            <div class="form-group">
                                <label class="property" style="margin-left: 70px;">房产信息查档：</label>
                                <input type="file" id="path1" name="housing[]" onchange="upfile.value=this.value">
                                <input type="button" class="choose" value="选择文件" onclick="path1.click()">
                            </div>
                            <div class="form-group">
                                <label class="property" style="margin-left: 70px;">民间负债查档：</label>
                                <input type="file" id="path2" name="housing[]">
                                <input type="button" class="choose" value="选择文件" onclick="path2.click()">
                            </div>
                            <h4 class="credit" style="margin: 0 0 30px 50px ;">征信查询情况：</h4>
                            <div class="form-group">
                                <label for="input1" class="property" style="margin-left: 15px;">征信3个月内查询次数：</label>
                                <input type="number" id="input1" name="cxcs" value="{$data['cxcs']}" required>
                                <span>次</span>
                            </div>
                            <div class="form-group">
                                <label for="input2" class="property" style="margin-left: 70px;">年内逾期次数：</label>
                                <input type="number" name="yqcs" id="input2" value="{$data['yqcs']}" required>
                                <span>次</span>
                            </div>
                            <div class="form-group" style="overflow: hidden;">
                                <label class="property" style="margin-left: 41px;">征信显示负债情况：</label>
                                <div class="one">
                                    <span class="common house1">1.房贷</span>
                                    <input type="number" name="mortgage" id="input3"  value="{$data['mortgage']}" required>
                                    <span>万元</span>
                                </div>
                                <div class="one">
                                    <span class="common house2">2.信用贷</span>
                                    <input type="number" name="credits" id="input4" value="{$data['credits']}"  required>
                                    <span>万元</span>
                                </div>
                                <div class="one">
                                    <span class="common">3.小额</span>
                                    <input type="number" name="xeloan" id="input5" value="{$data['xeloan']}" required>
                                    <span>万元</span>
                                </div>
                            </div>
                            <div class="form-group" style="overflow: hidden;">
                                <div class="one">
                                    <span class="common" style="margin-left: 93px;">房产估计值：</span>
                                    <input type="number" name="appraisement" id="input9" value="{$data['appraisement']}" required>
                                    <span>万元</span>
                                </div>
                                <div class="one">
                                    <span class="common">房贷余额:</span>
                                    <input type="number" name="balance" id="input6" value="{$data['balance']}" required>
                                    <span>万元</span>
                                </div>
                                <div class="one">
                                    <span class="common">房贷空间:</span>
                                    <input type="number" id="input7" value="<?php echo $data['appraisement']*0.7-$data['balance'] ?>" required>
                                    <span>万元</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="property" style="margin-left: 103px;margin-right: 12px;">婚姻状态：</label>
                                <input type="radio" id="select1" value="1" <?php if($data['qrmaritalstatus']=='1')  echo checked ?> name="qrmaritalstatus" required>已婚
                                <input type="radio" id="select2" value="2" <?php if($data['qrmaritalstatus']=='2')  echo checked ?>  name="qrmaritalstatus" required>未婚
                                <span>
                                    （配偶是否可以签字:
                                    <input type="radio" value="1" <?php if($data['sign']=='1')  echo checked ?> name="sign" id="select3" required>是
                                    <input type="radio" value="2" name="sign" <?php if($data['sign']=='2')  echo checked ?> id="select4" required>否
                                   ）
                                </span><br>
                                 <input type="hidden" value="{$id}" name="id">
                                 <input type="submit" value="提&nbsp;&nbsp;交" class="tj">
                                </form>
                            </div>


                        <h4 class="h4">确认资料</h4>
                         <form action="/Admin/Monetary/qrzl" method="post" enctype="multipart/form-data" id="info_form1" onsubmit="return checkform()">
                            <label><input type="checkbox" name="certificates[]" <?php if(strstr($data['certificates'],"1")) echo checked ?> value="1" class="identity">身份证</label>
                            <label><input type="checkbox" name="certificates[]" <?php if(strstr($data['certificates'],"2")) echo checked ?> value="2" >房产证</label>
                            <label><input type="checkbox" name="certificates[]" <?php if(strstr($data['certificates'],"3")) echo checked ?> value="3" >户口本</label>
                            <label><input type="checkbox" name="certificates[]" <?php if(strstr($data['certificates'],"4")) echo checked ?>  value="4" >结婚证</label>
                            <label><input type="checkbox" name="certificates[]" <?php if(strstr($data['certificates'],"5")) echo checked ?> value="5" >按揭合同原件 </label>
                            <div class="form-group">
                                <label class="property" style="margin-left: 70px;">房产信息查档：</label>
                                <input type="file" id="path3" name="rehousing[]">
                                <input type="button" class="choose" value="选择文件" onclick="path3.click()">
                            </div>
                            <div class="form-group">
                                <label class="property" style="margin-left: 102px;margin-right: 15px;">是否陪同 :</label>
                                <input type="radio" id="select5" <?php if($data['accompany']=="1") echo checked ?> value="1" name="accompany" required>是
                                <input type="radio" id="select6" value="2" <?php if($data['accompany']=="2") echo checked ?> name="accompany" required>否
                                <label style="margin-left: 20px;">陪同人：<input name="attendant" type="text" value="{$data['attendant']}"></label>
                            </div>
                            <div class="form-group">
                                <label class="property" style="margin-left: 70px;">民间负债查档：</label>
                                <input type="file" id="path4" name="rehousing[]">
                                <input type="button" class="choose" value="选择文件" onclick="path4.click()">
                            </div>
                            <div class="form-group">
                                <label class="property" style="margin-left: 102px;margin-right: 15px;">是否陪同 :</label>
                                <input type="radio" id="select7" <?php if($data['reaccompany']=="1") echo checked ?> value="1" name="reaccompany" required>是
                                <input type="radio" id="select8" <?php if($data['reaccompany']=="2") echo checked ?> value="2" name="reaccompany" required>否
                                <label style="margin-left: 20px;">陪同人：<input name="reattendant" type="text" value="{$data['reattendant']}"></label>
                            </div>
                            <input type="hidden" value="{$id}" name="id">
                            <input type="submit" value="提&nbsp;&nbsp;交" class="tjs">
                        </form>

                        <h4 class="h4">确认费用</h4>
                        <form action="/Admin/Monetary/qrfy" method="post" id="info_form2">
                            <div class="rowleft">
                                <label class="charge"><input type="checkbox" class="identity">手续费:</label>
                                <input type="number" name="poundage" value="{$data['poundage']}"><span class="right">%</span>
                            </div>
                            <div class="rowleft">
                                <label class="charge"><input type="checkbox" class="identity">考察费:</label>
                                <input type="radio" name="inspection" <?php if($data['inspection']=="300") echo checked ?> value="300"><span>300</span>
                                <input type="radio" name="inspection" <?php if($data['inspection']=="500") echo checked ?> value="500"><span>500</span>
                            </div>
                            <div class="rowleft">
                                <label class="charge"><input type="checkbox" class="identity">保证金:</label>
                                <input type="number" name="bond"  value="{$data['bond']}"><span class="right">%</span>
                            </div>
                            <input type="hidden" value="{$id}" name="id">
                            <input type="submit" style="margin-top:20px;" value="提&nbsp;&nbsp;交" class="tjs">
                        </form>
                        </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </div>
</div>
</div>

<include file="common:js" />

<script>
    function checkform(){
        if($("#input9").val()){
            return true;
        }else{
             alert("请先填写确认信息");
            return false;
        }
    }
</script>
</body>
</html>